*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* STYLE FOR SERVICENAIL.HTML, ACRILLIC, FRENCH, SHELLAC AND NAIL-ART-HTML--------*/
/* GENERAL SERVICES--------*/

.our-services1,
.our-services2,
.our-services3,
.our-services4 {
    height:100vh;   
    display: grid;
    grid-template-areas: 
    'head head '
    'side content'
    'foot foot';
    z-index:0;
    grid-template-columns: 50% 50%;
}
.header1{
    grid-area: head;
    background-color:#333;
    height:20vh;
    text-align: center;
    color:white;
    font-family: Poiret One;
    font-size: 3rem;
    padding-top:5vh;
}

article{
    grid-area: content;
    height:80vh;
 
}


aside{
    grid-area: side;
    height:80vh;
}


.book-now {
width:150px;
height:70px;
margin-top:10vh;
border-radius:10px;
letter-spacing: 3px;
border:0.5px solid grey;
color:rgb(255, 255, 255);
text-shadow: 0 0 3px #fff6f6, 0 0 5px #ffffff; 
background-color: rgb(81, 79, 79);
cursor:pointer;
text-decoration: none;
}

.book-now a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.book-now:hover {
    background-color: rgb(198, 67, 67);
    box-shadow: 5px 5px 3px 0.5px #333;
    color:white;
}

.book-now a:hover{
    color:white;
}



/*ALL ARTICLES ASIDES----------------------------------------------------------------*/
 .acrillic-article,
 .french-article,
 .shellac-article,
 .nail-art-article {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:20vh 5vw;
    font-family: Poiret One;
    font-weight: bold;
 }



/*ACRILLIC-------------------------------------------------------------*/
 
.acrillic-aside{
    background-image: url(nail21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }


 /*FRENCH------------------------------------------------------------*/
 
 .french-aside{
    background-image: url(nail22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

  /*SHELLAC------------------------------------------------------------*/
 
  .shellac-aside{
    background-image: url(nail23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }


  /*NAIL-ART------------------------------------------------------------*/
 
  .nail-art-aside{
    background-image: url(nail24.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

/* MEDIA QUERIES-----------------------------------------------------*/

 @media screen and (max-width:960px) {
.our-services1,
.our-services2,
.our-services3,
.our-services4 {
    height:100vh;   
    display: grid;
    grid-template-areas: 
    'head head '
    'side content';
    grid-template-rows:50% 50%;
   grid-template-columns: 1fr;
}

.acrillic-article,
 .french-article,
 .shellac-article,
 .nail-art-article {
    background-color: #1716165a;
    opacity:0.7;
    color: rgb(255, 255, 255);
    height:5vh;
    position: relative;
    overflow: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom:30vh;
    font-size: 1rem;
 }

 .our-services1{
    background-image: url(nail21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}

.our-services2{
    background-image: url(nail22.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.our-services3{
    background-image: url(nail23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.our-services4{
    background-image: url(nail24.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*BUTTON -----------------------------------*/

#book-1,
#book-2,
#book-3,
#book-4 {
    margin-top:0;
    width:90vw;
    margin-left:0;  
    font-size: 1.5rem;
    box-shadow: none;
    margin-top:5vh;
}

 }

 @media screen and (max-width:570px){

#book-1,
#book-2,
#book-3,
#book-4 {
    margin-top:0;
    width:50vw;
    margin-left:0;  
    font-size: 1.5rem;
    box-shadow: none;
    margin-top:1.5vh;
    height:30px;
}

.header1{
    height:80px;
    font-size: 2rem;
    padding-top:2.5vh;
    letter-spacing: 4px;
}


.our-services1{
    background-size: 170vw 100vh;
}

.our-services2{
    background-size: 160vw 100vh;
}

.our-services3{
    background-size: 180vw 100vh;
}

.our-services4{
    background-size: 180vw 100vh;
}

 }


 /*LANDSCAPE---------------------*/

 @media screen and (max-height:380px){
    #book-1,
    #book-2,
    #book-3,
    #book-4 {
        margin-top:0;
        position:absolute;
        bottom:120px;
        left:25px;
    }


    .header1{
        height:15vh;
        color:white;
        font-family: Poiret One;
        font-size: 1.3rem;
        padding-top:2.5vh;
    }
 }

